<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>

<body>
    <center>
        <table style=" border-collapse: collapse; width:80%; border: 3px solid black ">
            <tr>
                <th>Nazwa</th>
                <th>Link</th>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            {% if items_list %}
            <ul>
                {% for item in items_list %}
                <tr>
                    <td style="border: 1px solid black; text-align: center;">{{item.item_text}}</td>
                    <td style="border: 1px solid black; text-align: center"><a href={{item.item_link}}
                            target="_blank">{{item.item_link}}</a></td>
                </tr>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
        </table>
    </center>
</body>

</html>